.checkout__bill {
    background: #fdfae4;
    padding: 30px;
}
.checkout__total {
    border-bottom: 1px solid #313030;
    padding-top: 100px;
}
@media only screen and (max-width: 768px) {
    .checkout__bill h6 {
        font-size: 14px;
    }
    .checkout__bill {
        margin-top: 40px;
    }
}