.footer{
    padding: 50px 0px;
    background: #b48a26;
}
.footer__logo img{
    width: 150px;
    margin-bottom: 5px;
}
.footer__logo h5{
    font-weight: 600;
    font-size: 16px;
    color: #212245;
    margin-top: 5px;
    margin-bottom: 15px;
}
.delivery__item-time{
    background: transparent !important;
}
.delivery__item-time span {
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
    background: transparent;
}
.delivery__time-item p {
    color: #212245;
}