.paginationBtns {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    list-style: none;
    margin-top: 30px;
}
.paginationBtns a:hover {
    background: #654a05;
    color: #fcfcfc !important;
}
.paginationBtns a {
    padding: 5px 13px;
    background: transparent;
    color: #0a0a0a !important;
    border: 1px solid #654a05;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 2px;
}