.single__product-content {
    padding-left: 50px;
}
.back__btn{
    width: 40px;
    height: 25px;
    background: transparent;
    color: #0a0a0a !important;
    border: 1px solid #654a05;
    border-radius: 50px;
}
.product__price {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 0;
}
.product__price span {
    font-size: 2rem;
}
.category {
    font-weight: 600;
    color: #212245;
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 10px;
}
.category span {
    padding: 5px 10px;
    background: #fde4e4;
    color: #212245;
    border-radius: 5px;
}

.tabs {
    border-bottom: 1px solid #fde4e4;
}

.tabs h6 {
    cursor: pointer;
}
.tab__active {
    color: #df2020;
}
.tab__content {
    padding: 30px 0px;
}

.tab__content p {
    line-height: 30px;
    color: #212245b6;
}
.form {
    width: 60%;
    background: #f5e49e;
    padding: 20px;
    border-radius: 5px;
}
.img__item {
    cursor: pointer;
}
.form__group {
    margin-bottom: 30px;
}
.form__group input,
.form__group textarea {
    width: 100%;
    background: transparent;
    padding: 7px 20px;
    border: none;
    border-bottom: 1px solid #2122454c;
}
.form__group input:focus,
.form__group textarea:focus {
    outline: none;
}
.user__name {
    font-weight: 600;
    color: #212245;
}
.user__email {
    font-size: 14px;
}
.feedback__text {
    color: #212245b6;
}


@media only screen and (max-width: 768px) {
    .product__title {
        font-size: 18px;
    }
    .product__price,
    .product__price span {
        font-size: 16px;
    }
    .category,
    .category span {
        font-size: 13px !important;
    }
    .tabs {
        margin-top: 30px;
    }
    .tabs h6 {
        font-size: 14px;
    }
    .tab__content p,
    .user__name,
    .feedback__text {
        font-size: 14px;
    }
    .user__email {
        font-size: 13px;
    }
    .form {
        width: 100% !important;
        margin-top: 50px;
    }
    .form__group input::placeholder,
    .form__group textarea::placeholder {
        font-size: 0.8rem;
    }
    .related__Product-title {
        font-size: 18px;
    }
}
@media only screen and (max-width: 576px) {
    .product__images {
        display: flex;
        flex-direction: row;
    }
    .product__main-img {
        margin-bottom: 20px;
    }
}